<div id="block-moviesflix-userlogin" class="login-aside" role="form">

<button type="button" class="close close-btn" aria-label="Close" onclick="jQuery('#block-moviesflix-userlogin').hide()">
  <span aria-hidden="true">&times;</span>
</button>

  <h2>User login</h2>
  {{ content }}
</div>
