
<nav class="breadcrumb" aria-label="breadcrumb">
{# HTML Semantic Tag ol for ordered Lists #}
  <ol>
    {% for item in content["#links"] %}
      <li>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
      {% if not loop.last %}
        <li class="breadcrumb-separator"> &gt; </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
