<footer id="footer" class="footer mt-5">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Movies Flix</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="d-flex justify-content-center navmenu ">
        {# <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a> #}
        {{ page.footer.moviesflix_footer }}
      </div>
    </div>

  </footer>