<header id="header" class="header d-flex align-items-center sticky-top">
<div class="container-fluid position-relative d-flex align-items-center justify-content-between">
  <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
    <i class="bi bi-film"></i>
    <h1 class="sitename">
      Movies Sitee
    </h1>
  </a>
  <nav id="navmenu" class="navmenu">
    {{ page.header.moviesflix_moviessitemenus }}
  </nav>
  <div class="header-social-links">
    {{ page.header.moviesflix_search_form_wide }}
  </div>
</div>
</header>