<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
    {{ content }}
    <i class="mobile-nav-toggle d-xl-none bi bi-list position-absolute" style="right: 0px;" role="button" tabindex="0" aria-label="Toggle mobile navigation" aria-expanded="false"></i>
  </div>
</header>
