  <div class="search-block-form contextual-region" data-drupal-selector="search-block-form" id="block-moviesflix-search-form-wide" role="search">
    <form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8">
      <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
        <label for="edit-keys" class="visually-hidden">Search</label>
        <div class="search">
          <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="search-txt">
          <button type="submit" class="search-btn">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
