{{ attach_library('moviesflix/contact-us-form') }}

<section id="contact" class="contact section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="container contact">
      {{ drupal_entity('webform', 'contact_us_form') }}
    </div>
  </section> 