.table-container {
  overflow-x: auto;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  background-color: #000;
  color: #fff;
}

table th {
  background-color: #000;
  color: #fff;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #dedede;
  font-weight: bold;
}

table td {
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #3b3b3b;
}

table tr:nth-child(even) {
  background-color: #141414;
}

table tr:nth-child(odd) {
  background-color: #020202;
}

table tr:hover {
  background-color: #212020;
}

table {
  border: 1px solid #2e2e2e;
  border-radius: 5px;
  overflow: hidden;
}

table a {
  color: #007bff;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

table td.center,
table th.center {
  text-align: center;
}

table td.right,
table th.right {
  text-align: right;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 14px;
  }
  .tablesort {
    display: none;
  }
  
  .tablesaw-stack tbody td, .tablesaw-stack tbody th {
    display: flex !important;
    justify-content: space-between !important;
  }
}